<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
                           
 	<bean id="emp" class="com.pc.sbeans.Employee">
 		<constructor-arg name="empId" value="101"></constructor-arg>
 		<constructor-arg name="empName" value="Guju"></constructor-arg>
 		<constructor-arg name="dept" ref="dept"></constructor-arg>
  	</bean>
  
  	<bean id="dept" class="com.pc.sbeans.Department">
   		<constructor-arg name="deptId" value="10"></constructor-arg>
   		<constructor-arg name="deptName" value="IT"></constructor-arg>
  	</bean>
 </beans>
 